Package: ofsystem
Version: 0.3.1
Section: dev
Priority: optional
Architecture: all
Essential: no
Depends: unixodbc, imagemagick, zlib1g, libc6, libmagick++2, libxml2, libxslt1.1
Maintainer: Tim Whelan <tim@zipt.co>
Provides: libofsystem
Description: Cross-platform low-level libraries.
